<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {},
        },
      };
    </script>
    <style type="text/tailwindcss">
      @layer base {
        body {
          font-family: "Poppins", sans-serif;
        }
        ,
        h1,
        h2,
        h3 {
        }
      }
    </style>
    <title>Tentang Kami</title>
  </head>
  <header>
    <!-- Navigation -->
    <nav
      class="flex gap-5 bg-slate-100 w-full items-center justify-between shadow fixed z-10 inset-x-0 top-0"
    >
      <button class="mx-20">
        <img src="../assets/logo BNNET.png" alt="Logo" class="h-10 w-10" />
      </button>
      <div class="flex gap-3.5 items-center">
        <a href="landing_page.html"
          ><button class="hover:bg-slate-400 p-6">Home</button></a
        >
        <a href="product.html"
          ><button class="hover:bg-slate-400 p-6">Produk</button></a
        >
        <a href="about_us.html"
          ><button class="hover:bg-slate-400 p-6">Tentang Kami</button></a
        >
        <a href="contact_us.html"
          ><button class="hover:bg-slate-400 p-6">Hubungi Kami</button></a
        >
      </div>
      <div class="flex gap-5 pr-10 items-center">
        <a href="register.html"
          ><button
            class="border p-2 rounded-2xl bg-blue-400 hover:bg-blue-500 text-white"
          >
            Daftar Sekarang
          </button></a
        >
      </div>
    </nav>
    <!-- End Navbar -->
  </header>
  <body>
    <div class="bg-slate-200 py-10 mt-16 px-10 mb-10">
      <h1 class="text-4xl font-bold text-sky-700">BNNET.</h1>
      <p class="text-sky-700">
        Anim id aute occaecat enim eu. Elit ea incididunt ea nulla adipisicing
        voluptate duis. Ad est ea enim ea Lorem consequat eiusmod laboris culpa.
        Et quis nulla exercitation fugiat veniam aliqua commodo pariatur et in
        sint aute. Deserunt proident laboris dolor excepteur consequat aliqua
        laborum eu irure id tempor aliqua eiusmod anim. Officia nostrud veniam
        id commodo incididunt dolor occaecat amet. Velit eu velit aliqua quis
        adipisicing fugiat. Irure ex officia non aliqua dolore excepteur cillum
        deserunt anim. Deserunt eiusmod cillum commodo excepteur aliquip. Lorem
        occaecat amet cillum proident mollit et et. Tempor tempor reprehenderit
        minim nulla adipisicing quis amet. Ipsum voluptate veniam mollit ea
        exercitation sit ea qui ut aute incididunt Lorem in. Occaecat ullamco
        labore est veniam nisi ex anim aliqua.
      </p>
    </div>

    <div class="flex justify-center gap-5 mx-20 pb-20">
      <div class="mr-10 flex flex-col place-content-center">
        <p class="font-bold text-2xl py-2 text-sky-700">Visi</p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae,
          nam in accusantium, at nisi iste porro unde deleniti dolore provident
          consequatur dolores magni, autem ratione! Nesciunt vel deserunt
          pariatur quas.
        </p>
        <p class="font-bold text-2xl py-2 text-sky-700">Misi</p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae,
          nam in accusantium, at nisi iste porro unde deleniti dolore provident
          consequatur dolores magni, autem ratione! Nesciunt vel deserunt
          pariatur quas.
        </p>
      </div>
      <div>
        <img
          src="../assets/office.jpg"
          alt="office"
          class="rounded-md w-[1500px] shadow-md"
        />
      </div>
    </div>

    <div class="bg-slate-200 flex justify-center gap-5 px-20 py-20">
      <div>
        <img
          src="../assets/office2.jpg"
          alt="Office2"
          class="rounded-md w-[1500px] shadow-md"
        />
      </div>
      <div class="ml-10 flex flex-col place-content-center">
        <p class="font-bold text-4xl py-2 text-sky-700">
          PT.BANGUN NUSA NETWORK
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae,
          nam in accusantium, at nisi iste porro unde deleniti dolore provident
          consequatur dolores magni, autem ratione! Nesciunt vel deserunt
          pariatur quas.
        </p>
      </div>
    </div>

    <div class="flex justify-center">
      <img
        src="../assets/Router.jpg"
        alt="Router"
        class="shadow rounded-md my-10 w-[700px]"
      />
    </div>
  </body>

  <div class="bg-slate-200 py-10 px-10">
    <h1 class="text-2xl font-bold text-sky-700 pb-5">Cakupan Area BNNET</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta est
      perferendis iure quis vel, quibusdam, qui harum consectetur et expedita
      corporis, corrupti numquam laborum earum dignissimos quaerat recusandae
      mollitia tempore!
    </p>
  </div>

  <footer>
    <!-- Nav Footer -->
    <div class="flex items-center fixed right-0 bottom-0 mr-10">
      <button class="bg-sky-400 rounded-t-2xl p-2 px-5 flex gap-2">
        <img src="../assets/Wa.svg" alt="Whatsapp" class="w-5 h-5" />
        <p>Hubungi Kami</p>
      </button>
    </div>
    <!-- End Nav Footer -->

    <!-- Footer -->
    <div
      class="bg-blue-200 pt-4 flex flex-col items-center justify-center border-t-2 border-blue-400"
    >
      <a href="#">
        <img src="../assets/logo BNNET.png" alt="Logo" class="w-[80px]" />
      </a>
      <p class="font-bold text-2xl text-blue-700 mb-5">BNNET</p>
      <div class="flex gap-5 pb-5">
        <a href="#">
          <img src="../assets/fb.png" alt="Facebook" class="w-10 h-10"
        /></a>
        <a href="#">
          <img src="../assets/Wa.svg" alt="Whatsapp" class="w-10 h-10"
        /></a>
        <a href="#">
          <img src="../assets/tele.png" alt="Telegram" class="w-10 h-10"
        /></a>
        <a href="#">
          <img src="../assets/ig.png" alt="Instagram" class="w-10 h-10"
        /></a>
      </div>
      <p class="text-blue-700 mb-5">©2023 PT.Bangun Nusa Network</p>
    </div>
  </footer>
</html>
